<% if current_user.profile_image? %>
	<%= image_tag current_user.profile_image.url, size: "200x200" %>
<% else %>
	<div class="user-no-profile">
		<i class="fas fa-user-circle fa-5x"></i>
	</div>
<% end %>

<div class="user-nickname">
	<p><%= current_user.nickname %></p>
</div>

<div>
	<%= link_to "プロフィールを編集する", edit_user_path(current_user), class:"btn btn-primary" %>
</div>

