<% if user.profile_image? %>
	<%= image_tag user.profile_image.url, size: "200x200" %>
<% else %>
	<div class="user-no-profile">
		<i class="fas fa-user-circle fa-5x"></i>
	</div>
<% end %>

<div class="user-nickname">
	<p><%= user.nickname %></p>
</div>

<% if user == current_user %>
	<div>
		<%= link_to "プロフィールを編集する", edit_user_path(user.id), class:"btn btn-primary" %>
	</div>
<% end %>