<% if user.profile_image? %>
	<%= image_tag user.profile_image.url, class:"user_profile_image" %>
<% else %>
	<div class="user-no-profile">
		<i class="fas fa-user-circle fa-5x"></i>
	</div>
<% end %>

<div class="user-data">
	<p><i class="fas fa-user"></i> <%= user.nickname %></p>
</div>

<div class="user-data">
	<P><i class="fas fa-photo-video"></i> 投稿：<%= user.posts.count %>件</P>
</div>

<% if user == current_user && request.path_info == user_path(current_user)%>
	<div class=" user-deit-button">
		<%= link_to "プロフィールを編集する", edit_user_path(user.id), class:"btn btn-primary" %>
	</div>
<% end %>
