<div class="user-view">
	<div class="user-view-headline">ユーザ一覧</div>

	<div class="container user-list">
		<% @users.each do |user| %>
			<div>
				<% if user.profile_image? %>
					<%= image_tag user.profile_image.url, class:"user_profile_image_index" %>
				<% else %>
					<i class="fas fa-user-circle fa-5x"></i>
				<% end %>
				<br>
				<span><%= link_to user.nickname, user_path(user.id), class:"user-link" %></span>
				<br>
				<span>投稿：<%= user.posts.count %>件</span>
			</div>
		<% end %>
	</div>

</div>