<div class="row user-view">
	<div class="col-xs-3 user-profile">
		<%= render "users/profile", user: @user %>
	</div>

	<div class="col-xs-9">
		<%= render "posts/post_index", posts: @posts %>
	</div>

</div>