<div class="about-visual">
	<div class="about-visual-content">
		<p class="about-visual-header">Your best Gamesについて</p>

		<p class="about-visual-headline">当アプリの目的</p>
		<P>あなたが心を動かされた瞬間を投稿し、他ユーザと共有とすることです!<br>
			また画像や動画を投稿し、「どこが」「どのように良かった」のかをコメントで書いてください！<br>
			(ユーザ登録することで、コメントやいいねをすることができます)
		</P>
	</div>
</div>

<div class="about-image">
	<div class="about-image-text">
		<h1>ポイント１：画像投稿</h1>
		<P>ゲームで「かっこ良かったところ」や「感動した場面」を投稿。<br>
			あなたが心を動かされた瞬間を、画像として投稿できます。<br>
			(投稿するにはユーザ登録が必要になります。)
		</P>
	</div>
	<%= image_tag "ff10.jpg", class:"about-image-sample" %>
</div>

<div class="about-video">
	<%= video_tag "/assets/videos/TitanFall2_catch.mp4#t=4", controls: true, class:"about-video-sample" %>
	<div class="about-video-text">
		<h1>ポイント２：動画投稿</h1>
		<P>画像だけでなく、動画も投稿することができます。<br>
			感動したものだけでなく、スーパープレイも募集しております！<br>
			白熱する対戦動画もどうぞ！
		</P>
	</div>
</div>

<div class="about-image">
	<div class="about-image-text">
		<h1>ポイント３：コメント・いいね</h1>
		<P>他ユーザの投稿に対して、コメントといいねをすることができます。<br>
			コメント・いいねをすることで、良かった場面を共有し、オススメしましょう！<br>
			コメントには、「どこが」「どのように良かった」のかを書くことがベストです。
		</P>
	</div>
</div>
