<div class="home-view">
	<h2>検索結果</h2>
	<% if @posts.empty? %>
		<P class="search-no-result">該当する投稿はありません</P>
	<% else %>
		<%= render "posts/post_index", posts: @posts %>
	<% end %>

	<p class="return-top"><%= link_to "topへ戻る", root_path %></p>
</div>