<div class="row">
	<div class="col-xs-3 user-profile">
		<%= render "users/profile", user: current_user %>
	</div>

	<div class="col-xs-6">
		<%= render "posts/post_form", post: @post %>
	</div>
</div>


