// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* background-1 */

.top-main-visual{
	width: 100%;
	height: 600px;
	background-image: image-url("top-main-visual.jpg");
	background-size: cover;
	background-position: center;
	text-align: center;
	padding-top: 150px;
}

.top-main-visual-content{
	background-color: rgba( 0, 0, 0, 0.7);
}

.top-main-visual-text{
	font-size: 30px;
	font-weight: bold;
	color: #dcdcdc;
}

.top-link-about,
.top-link-about:link,
.top-link-about:visited,
.top-link-about:hover,
.top-link-about:active {
	color: #fff;
	font-size: 20px;
}

.top-main-visual-content span{
	color: #fff;
	font-size: 15px;
	line-height: 20px;
}


/* background-2,3 */

.top-ranking{
	width: 100%;
	height: 650px;
	background-image: image-url("switch.jpg");
	background-size: cover;
	background-position: center;
	text-align: center;
	padding-top: 100px;
}

.top-ranking-content{
	height: 400px;
	background-color: rgba( 0, 0, 0, 0.7);
	padding-top: 50px;
}

.top-ranking p{
	font-size: 20px;
	color: #fff;
}

.top-postlist{
	display: flex;
}

.top-postlist div{
	margin: 0 auto;
}

.top-image{
	width: 350px;
}

.top-ranking:nth-child(4){
	background-image: image-url("pc.jpg");
}


/* about */

.about-visual{
	height: 600px;
	background-image: image-url("pokemon.jpg");
	background-size: cover;
	background-position: bottom;
	text-align: center;
	padding-top: 150px;
}

.about-visual-content{
	background-color: rgba( 0, 0, 0, 0.7);
}

.about-visual-content p{
	color: #fff;
}

.about-visual-header{
	font-size: 30px;
}

.about-visual-headline{
	font-size: 25px;
}


/* about-point1 */

.about-image{
	height: 400px;
	background-color: #46494e;
	padding: 50px 10%;
}

.about-image-text{
	display: inline-block;
	margin-right: 5%;
}

.about-image-text h2{
	color: #fff;
}

.about-image-text p{
	font-size: 15px;
	color: #fff;
	margin-top: 50px;
}

.about-image-content{
	width: 50%;
	display: inline-block;
}

.about-image-sample{
	width: 100%;
}


/* about-point2 */

.about-video{
	height: 400px;
	background-color: #2e3033;
	padding: 50px 10%;
}

.about-video-content{
	width: 50%;
	margin-right: 5%;
	display: inline-block;
	vertical-align: top;
}

.about-video-sample{
	width: 100%;
}

.about-video-text{
	display: inline-block;
}

.about-video-text h2{
	color: #fff;
}

.about-video-text p{
	font-size: 15px;
	color: #fff;
	margin-top: 50px;
}


/* about-point3 */

.about-comment{
	height: 400px;
	background-color: #46494e;
	padding: 50px 10% 370px;
}

.about-comment-text{
	display: inline-block;
	margin-right: 5%;
}

.about-comment-text h2{
	color: #fff;
}

.about-comment-text p{
	font-size: 15px;
	color: #fff;
	margin-top: 50px;
}

.about-comment-content{
	width: 50%;
	display: inline-block;
}

.about-comment-sample{
	width: 95%;
}


/* search */

.home-view{
	background-color: #232629;
	color: #d4e1f2;
	padding: 150px 15% 100px;
}

.search-no-result{
	text-align: center;
	margin-top: 50px;
}

.return-top{
	text-align: center;
	margin-top: 50px;
}

.return-top a,
.return-top a:link,
.return-top a:visited,
.return-top a:hover,
.return-top a:active {
	color: #d4e1f2;
}
