// Place all the styles related to the notifications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.notifications-list{
	color: #d4e1f2;
	padding-top: 150px;
	padding-bottom: 100px;
	margin: 0 15%;
	text-align: center;
}

.notifications-headline{
	font-size: 30px;
}

.notifications-headline-trash{
	text-align: left;
}

.notifications-headline-trash span{
	font-size: 20px;
}

.notifications-list-content{
	padding-top: 50px;
	padding-bottom: 70px;
	border-bottom: 1px solid;
}

.notifications-text{
	font-size: 20px;
}

.notifications-post-comment{
	font-size: 10px;
	margin-top: 25px;
}

.top-link{
	padding: 70px 0;
}

.top-link-text:link,
.top-link-text:visited,
.top-link-text:hover,
.top-link-text:active {
	font-size: 20px;
	color: #fff;
}