// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post-list{
	display: flex;
}

.post-list div{
	width: 200px;
	margin-right: 10px;
	background-color: silver;
}

.post-show-video{
	width: 700px;
	margin-top: 20px;
}