// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.post-view{
	color: #d4e1f2;
	margin-top: 150px;
	margin-bottom: 100px;
}


/* _post_index */

.post-list{
	display: flex;
	padding: 20px 0;
	border-bottom: 1px solid;
}

.post-list:nth-child(1){
	border-top: 1px solid;
}

.post-list div{
	width: 150px;
	margin-top: 10px;
	margin-right: 20px;
}

.post-list div:nth-child(1){
	text-align: center;
}

.user_profile_image_post_index{
	width: 75px;
	height: 75px;
	border-radius: 75px;
}

.post-list div:nth-child(2){
	font-size: 15px;
	line-height: 40px;
}

.post_title{
	border-bottom: solid;
	border-color: #107dea;
	border-width: 3px;
}

.post_title:link,
.post_title:visited,
.post_title:hover,
.post_title:active {
	font-size: 15px;
	color: #fff;
}

.post-list div:nth-child(3){
	width: 300px;
}

.post-index-image{
	width: 300px;
}

.post-list div:nth-child(4){
	margin-left: 50px;
	line-height: 40px;
}


/* show */

.post-view-show{
	color: #d4e1f2;
	padding-top: 150px;
	padding-bottom: 100px;
}

.post-show-title{
	margin-bottom: 20px;
}

.post-show-title span{
	font-size: 30px;
	border-bottom: solid;
	border-color: #107dea;
	border-width: 5px;
}

.post-show-tag span{
	color: #fff;
	padding: 5px 10px;
	background-color: #28af38;
	border-radius: 10px;
}

.post-show-like{
	text-align: right;
	font-size: 25px;
	padding-bottom: 25px;
	border-bottom: 1px solid;
}

.post-image-video{
	width: 800px;
	margin: 25px 75px;
}

.post-show-body{
	border-top: 1px solid;
	border-bottom: 1px solid;
}

.post-show-body-headline{
	font-size: 30px;
}

.post-show-content{
	font-size: 20px;
}

.post-show-botton{
	margin-top: 30px;
	display: inline-block;
}

.post-danger-botton{
	margin-left: 650px;
}

.comment-area{
	margin: 50px 0 30px;
}

.commment-form{
	width :400px;
	height: 70px;
}

.post-show-comments{
	padding: 15px;
	border-bottom: 1px solid;
}

.post-comment-user{
	margin-bottom: 15px;
}

.post-comment-user-profileimage{
	width: 50px;
	height: 50px;
	border-radius: 50px;
}

.post-comment-user-date{
	margin-left: 10px;
}

.btn-destroy{
	margin-left: 90%;
}


/* new */

.post-new-form{
	margin-left: 20%;
	margin-right: 5%;

}

.post-error-messages{
	padding-right: 30%;
}

.post-new-form div{
	margin: 20px 30px 20px 0;
}

.post-new-body{
	width: 300px;
	height: 100px;
}

.post-new-form div:nth-child(5){
	margin-top: 250px;
}

#post_img_prev{
	width: 300px;
	margin-bottom: 50px;
}

#post_video_prev{
	width: 400px;
}
