// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user_profile_image{
	width: 200px;
	height: 200px;
	border-radius: 100px;
}

.user_profile_image_index{
	width: 100px;
	height: 100px;
	border-radius: 50px;
}

.user-view{
	height: 1400px;
	background-color: #232629;
	color: #d4e1f2;
	padding-top: 50px;
}

.user-profile{
	margin-left: 10%;
	margin-right: 7.5%;
}

.user-no-profile{
	text-align: center;
}

.user-data{
	margin-top: 10px;
	text-align: center;
}

.user-data p{
	font-size: 30px;
}


/* index */

.user-view-headline{
	margin-left: 20%;
	font-size: 50px;
}

.user-list{
	display: flex;
	flex-wrap: wrap;
}

.user-list div{
	border: 3px solid;
	background-color: #3b4754;
	text-align: center;
	line-height: 30px;
	padding: 40px;
	margin: 50px;
	border-radius: 10px;
}

.user-list span{
	font-size: 15px;
}

.user-link:link,
.user-link:visited,
.user-link:hover,
.user-link:active {
	color: #fff;
}


/* edit */

.user-edit{
	margin-left: 30%;

}

#img_prev{
	width: 300px;
	height: 300px;
	border-radius: 150px;
	margin: 50px 5% 25px;
}

.user-edit-image{
	margin-left: 5%;
}

.user-edit-nickname{
	margin: 50px 5% 25px;
	display: inline-block;
}

.user-edit-email{
	margin: 25px 5%;
}

.user-edit-button{
	margin: 25px 30%;
}